version: '3.3'
services:
  categories-sync:
    image: 'registry.gitlab.com/shop_ecommerce/shop_categories'
    command: ./run consumer syncConsumer
    environment:
      - PHP_IDE_CONFIG=serverName=phalcon.local
    volumes:
      - .:/src
      - /src/app/vendor
      - /src/.phalcon

  categories-async:
    image: 'registry.gitlab.com/shop_ecommerce/shop_categories'
    command: ./run consumer asyncConsumer
    environment:
      - PHP_IDE_CONFIG=serverName=phalcon.local
    volumes:
      - .:/src
      - /src/app/vendor
      - /src/.phalcon

  categories-api:
    image: 'registry.gitlab.com/shop_ecommerce/shop_categories'
    command: >
      bash -c "rm -f /src/public/webtools*
      && phalcon webtools enable
      && phalcon serve"
    environment:
      - PHP_IDE_CONFIG=serverName=phalcon.local
    volumes:
      - .:/src
      - /src/app/vendor
      - /src/.phalcon
    ports:
      - "1000:8000"

  categories-unit-test:
    container_name: 'unit-test'
    image: 'registry.gitlab.com/shop_ecommerce/shop_categories'
    command: app/vendor/bin/phpunit -c tests/phpunit.xml
    volumes:
      - .:/src
      - /src/app/vendor
      - /src/.phalcon

networks:
  default:
    external:
      name: marketplace-network