version: '3.3'
services:
  categories-sync:
    build: .
    image: 'shop/categories'
    volumes:
      - .:/var/www/html
    command: >
      bash -c "chmod +x utilities/start_service.sh
      && utilities/start_service.sh
      && ./run consumer syncConsumer"
  categories-async:
    build: .
    image: 'shop/categories'
    volumes:
      - .:/var/www/html
    command: >
      bash -c "chmod +x utilities/start_service.sh
      && utilities/start_service.sh
      && ./run consumer asyncConsumer"
  categories-api:
    build: .
    image: 'shop/categories'
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "1000:8000"
    command: >
      bash -c "chmod +x utilities/start_service.sh
      && utilities/start_service.sh
      && rm -f /var/www/html/public/webtools*
      && phalcon webtools enable
      && phalcon serve"
  categories-unit-test:
    build: .
    container_name: 'unit-test'
    image: 'shop/categories'
    volumes:
      - .:/var/www/html
    command: >
      bash -c "chmod +x utilities/start_service.sh
      && utilities/start_service.sh
      && app/common/library/vendor/bin/phpunit -c tests/phpunit.xml"

networks:
  default:
    external:
      name: marketplace-network